@media (min-width: 992px) {
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar {
        left: 0;
        right: 20%;
    }
}
@media (min-width: 1185px) {
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar {
        left: 0;
        right: 22%;
    }
}
@media (min-width: 1200px) {
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar {
        left: 0;
        right: 18%;
    }
}
@media (min-width: 1400px) {
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar {
        left: 0;
        right: 15%;
    }
}